.CodeMirror-linenumber {
  padding-right: 32px;
  color: rgba(255, 255, 255, 0.3333333333);
}
.CodeMirror-scroll,
.CodeMirror-gutters {
  background-color: #171b1f;
}
.CodeMirror-scroll {
  color: rgba(255, 255, 255, 0.6666666667);
}
.CodeMirror-matchingbracket {
  color: rgba(255, 255, 255, 0.6666666667) !important;
  background-color: rgba(255, 255, 255, 0.1666666667);
}
.CodeMirror-matchingtag,
.CodeMirror-selected {
  background-color: rgba(255, 255, 255, 0.1666666667);
}
.CodeMirror-activeline .CodeMirror-gutter-elt,
.CodeMirror-activeline-background {
  margin-top: 1px;
  background-color: rgba(255, 255, 255, 0.1666666667);
}
.CodeMirror-cursor {
  margin-top: 1px;
  border-left: solid 2px rgba(255, 255, 255, 0.6666666667) !important;
}
.cm-comment {
  font-style: italic;
  color: rgba(255, 255, 255, 0.3333333333);
}
.cm-atom,
.cm-keyword,
.cm-string {
  color: #ff1f8f;
}
.cm-attribute,
.cm-def,
.cm-header,
.cm-hr,
.cm-property,
.cm-string-2 {
  color: deepskyblue;
}
.cm-meta,
.cm-number {
  color: #007fff;
}
.cm-bracket,
.cm-tag,
.cm-qualifier {
  color: #6fdf00;
}
.cm-operator,
.cm-variable,
.cm-variable-2,
.cm-variable-3 {
  color: #ff7f00;
}
.cm-builtin,
.cm-error,
.cm-minus,
.cm-plus,
.cm-quote {
  color: red;
}
.cm-link,
.cm-rangeinfo {
  text-decoration: none;
  color: magenta;
}
.CodeMirror-foldgutter-open:after,
.CodeMirror-foldgutter-folded:after {
  position: relative;
  top: 1px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.3333333333);
}
.CodeMirror-foldmarker {
  display: inline-block;
  margin: 0 2px;
  border-radius: 1em;
  border: 0;
  position: relative;
  top: 1px;
  color: rgba(255, 255, 255, 0.6666666667);
  background-color: rgba(255, 255, 255, 0.1666666667);
}
.CodeMirror-foldmarker:after {
  content: '\2022\2022\2022';
  position: relative;
  top: -1px;
}
